.backgroundImage {
    position: relative;
    width: 100%;
    color: white;
}

.backgroundImage img {
    height: 475px;
}

.frontDeneme {
    position: absolute;
    bottom: 380px;
    background-color: red;
    width: 1520px;
}


@media (max-width: 1400px) {
    .frontDeneme {
        width: 1320px;
    }
}