.navbar {
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.navbar__left {
    display: flex;
}

.navbar__left img {
    cursor: pointer;
}

.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__right-list {
    display: flex;
}

.navbar__right-list-item {
    padding: 14px;
    cursor: pointer;
    color: rgb(83, 96, 94);
}

.navbar__right-list-item.notification {
    margin-right: 20px;
}

.navbar__left-list {
    display: flex;
}

.navbar__left-list-item {
    padding: 16px 14px;
    cursor: pointer;
    color: rgb(83, 96, 94);
}

.navbar__left-list-item:hover:not(:last-child),
.hover:hover {
    border-bottom: 2px solid #939D9A;
    color: #939D9A;
    background-color: rgb(252, 252, 252);
}

.navbar__left img {
    width: 200px;
}

.flag {
    width: 26px;
    height: 24px;
    border-radius: 50%;
}

.flagArrow.MuiSvgIcon-root {
    color: #53605E;
    font-size: 18px;
    margin-bottom: 2px;
}


/* ! Login ! */

.home {
    position: relative;
}

.login {
    position: absolute;
    background-color: white;
    z-index: 60;
    top: 20vh;
    left: 40vw;
    width: 300px;
    height: 390px;
    border-radius: 4px;
    padding: 40px;
    color: rgb(83, 96, 94);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login input,
.signUp__right input {
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(83, 96, 94);
    padding: 0 10px;
}


.login input:focus {
    outline: #2DC44D;
}

.login button {
    background-color: #2DC44D;
    color: white;
    font-size: 16px;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signUpandForget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.signUpandForget p {
    padding: 10px;
}

.signUpandForget p:hover {
    background-color: rgba(228, 228, 228, 0.753)
}

hr {
    height: 1px !important;
}

.logInPopup {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.facebook .MuiSvgIcon-root {
    color: #3b5998;
}

.google .MuiSvgIcon-root {
    color: #DB4437;
}

.facebook,
.google {
    display: flex;
    align-items: center;
    border: 0.5px solid rgb(157, 168, 166);
    gap: 4px;
    padding: 5px;
    color: rgb(83, 96, 94);
    border-radius: 4px;
    height: 45px;
    font-size: 14px;
    margin-bottom: -10px;
    cursor: pointer;
}

.facebook:hover,
.google:hover {
    background-color: rgba(228, 228, 228, 0.753)
}

.google .MuiSvgIcon-root,
.facebook .MuiSvgIcon-root {
    font-size: 40px;
}

.or {
    text-align: center;
    color: rgb(83, 96, 94);
    margin-bottom: 10px;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 2px;
}

.closeIcon:hover {
    background-color: lightgray;
    border-radius: 50%;

}

.passwordInput {
    position: relative;
}

.passwordIcon {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

/* ! Sign Up ! */

.signUp {
    width: 840px;
    height: 545px;
    position: absolute;
    background-color: white;
    z-index: 60;
    top: 10vh;
    left: 22vw;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.signUp__left {
    flex: 2;
    padding: 20px 40px;
    color: rgb(83, 96, 94);
    background-color: #f8faf9;
}

.signUp__right {
    flex: 1.5;
    color: rgb(83, 96, 94);
    padding: 20px 40px;
}

.signUp__right h2 {
    margin-bottom: 24px;
}

.signUp__right input {
    margin-bottom: 20px;
}

.signUp__left img {
    width: 200px;
    object-fit: contain;
    margin-left: -14px;
}

.signUp__left p {
    color: rgb(83, 96, 94);
}

.signUp__left-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    margin-top: 30px;
}

.signUp__left-list-item {
    display: flex;
    gap: 15px;
}

.signUp__left-list-item-desc p {
    font-size: 13px;
    letter-spacing: 0.6px;
}

.signUp__left-bottom {
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
    padding: 12px;
    border-radius: 6px;
}

.signUp__left-bottom p {
    font-size: 14px;
    width: 92%;
}

.signUp__left-bottom button {
    background-color: #112f41;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    width: 136px;
    border-radius: 6px;
}

.checkboxPart {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.chechbox {
    width: 36px !important;
    cursor: pointer;
}

.signUpPopup {
    width: 100%;
    height: 45px;
    background-color: #2DC44D;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signUpPopup:hover {
    background-color: #26b044;
}

.SignUpPopup {
    margin-top: 20px;
    gap: 20px;
}

.signUp__bottom-desc p {
    font-size: 12px;
    margin-top: 30px;
    color: rgb(114, 126, 124)
}

.bottomIf {
    text-align: center;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.bottomIf p {
    margin-top: 18px;
    padding: 10px;
}

.bottomIf p:hover {
    background-color: rgba(228, 228, 228, 0.753)
}

.signUpPassIcon {
    top: 10px;
}

.signUpCoorp button {
    cursor: pointer;
}

/* ! Language ! */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.language {
    width: 280px;
    height: fit-content;
    position: absolute;
    background-color: white;
    z-index: 60;
    top: 20vh;
    left: 40vw;
    border-radius: 4px;
    color: rgb(114, 126, 124);
    padding: 10px 20px;
}

.language p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.language__list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.language__image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.language__list-item-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=radio] {
    transform: scale(1.5);
    cursor: pointer;
}

.language__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.language__bottom button {
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.language__bottom-cancel {
    width: 60px;
    height: 35px;

}

.language__bottom-confirm {
    background-color: #2DC44D;
    color: white;
    width: 80px;
    height: 35px;
}