 .footer {
     max-width: 1124px;
     margin: 0 auto;
     color: black;
     margin-top: 8px;
     margin-bottom: 20px;
 }

 .footer__top {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .footer__top-left img {
     width: 200px;
     object-fit: contain;
 }

 .footer__top-middle {
     display: flex;
     gap: 14px;
 }

 .footer__top-middle img {
     width: 100px;
 }

 .footer__top-right {
     color: rgb(83, 96, 94);
     display: flex;
     align-items: center;
     gap: 12px;
 }

 .footer__top-right span {
     font-size: 14px;
 }

 .footer__bottom {
     height: min-content;
     margin-top: 10px;
     margin-bottom: 30px;
     display: flex;
     justify-content: flex-start;
     gap: 30px;
     margin-left: 16px;
 }

 .footer__bottom li {
     padding: 4px 0;
     font-size: 13px;
 }

 .footer__bottom ul {
     width: max-content;
 }

 .copyright small {
     padding-right: 40px;
 }

 .hr {
     height: 1px;
     margin-top: 6px;
 }

 .copyright__bottom {
     display: flex;
     justify-content: center;
     margin-top: 6px;
 }