 .footer {
     max-width: 1124px;
     margin: 0 auto;
     color: black;
     margin-top: 8px;
     margin-bottom: 20px;
 }

 .deneme {
     font-weight: 700;
 }

 .footer__top {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .footer__top-left img {
     width: 200px;
     object-fit: contain;
 }

 .footer__top-middle {
     display: flex;
     gap: 14px;
 }

 .footer__top-middle img {
     width: 100px;
 }

 .footer__top-right {
     color: rgb(83, 96, 94);
     display: flex;
     align-items: center;
     gap: 12px;
 }

 .footer__top-right span {
     font-size: 14px;
 }

 .footer__bottom {
     height: min-content;
     margin-top: 10px;
     margin-bottom: 30px;
     display: flex;
     justify-content: space-between;
     gap: 30px;
     margin-left: 16px;
 }

 .footer__bottom li {
     padding: 4px 0;
     font-size: 13px;
 }

 .footer__bottom li span {
     display: none;
     font-size: 15px;
 }

 .footer__bottom ul {
     width: max-content;
 }

 .hr {
     height: 1px;
     margin-top: 6px;
 }

 .copyright__bottom {
     display: flex;
     justify-content: center;
     margin-top: 6px;
 }

 .copyright__top img {
     margin-right: 34px;
 }

 .footer__bottom ul .header {
     font-weight: 700;
     font-size: 15px;
 }

 .footer__bottom ul .header span {
     display: none;
 }

 .InternetGSM {
     gap: 0px;
 }

 .listItem {
     cursor: pointer;
     width: max-content;
 }

 .listItem:hover {
     text-decoration: underline;
 }

 @media (max-width: 1200px) {
     .footer {
         max-width: 960px;
     }

     .footer__top-right {
         gap: 6px;
     }

     .footer__bottom ul .header {
         font-weight: 700;
         font-size: 15px;
     }

     .footer__bottom ul .header span {
         display: none;
     }
 }

 @media (max-width: 1000px) {
     .footer {
         max-width: 740px;
     }

     .footer__top-middle {
         gap: 7px;
     }

     .footer__top-middle img {
         width: 80px;
     }

     .footer__bottom {
         gap: 20px;
     }

     .footer__bottom ul .header {
         font-weight: 700;
         font-size: 15px;
     }

     .footer__bottom ul li {
         width: 86px;
     }

     .footer__bottom ul .header span {
         display: none;
     }
 }

 @media (max-width: 768px) {
     .footer {
         max-width: 550px;
     }


     .footer__top {
         flex-direction: column;
         margin-top: 20px;
         gap: 20px;
     }

     .footer__top-left {
         display: none;
     }

     .footer__top-middle img {
         width: 120px;
     }

     .footer__bottom {
         flex-direction: column;
         color: rgb(83, 96, 94);
         gap: 10px;
         margin-top: 30px;
     }

     .footer__bottom ul .header {
         display: flex;
         flex-direction: row;
         min-width: 520px;
         margin: 0 auto;
         justify-content: space-between;
         cursor: pointer;
     }

     .footer__bottom ul li {
         width: 100%;
     }

     .footer__bottom ul .header span {
         font-size: 20px;
         display: inline-block;
     }

     .copyright__top {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .copyright__top img {
         width: 100px;
         margin-bottom: 10px;
     }

     .InternetGSM {
         gap: 10px;
     }
 }

 @media (max-width: 576px) {
     .footer__top-middle {
         flex-direction: column;
     }

     .footer__top-right {
         margin-bottom: 16px;
     }

     .footer__top-middle img {
         width: 200px;
     }

     .footer {
         max-width: 400px;
     }

     .footer__bottom {
         align-items: center;
         margin-left: 0;
     }

     .footer__bottom ul .header {
         min-width: 300px;
     }

 }

 @media (max-width: 378px) {

     .footer__bottom ul .header {
         min-width: 210px;
     }

     .footer__bottom {
         margin-left: 0;
     }

 }

 @media (max-width: 270px) {

     .footer__bottom ul .header {
         min-width: 160px;
         align-items: center;
     }

 }