.blog {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

.blog__left {
    flex: 2.2;
    color: rgb(83, 96, 94);
}

.blog__right {
    margin-top: 6px;
    flex: 1;
    height: 680px;
    border: 1px solid #D7DDDB;
}

.blog__left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.blog__left-top h1 {
    font-weight: 600;
}

.see-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    background-color: transparent;
    border: 0.8px solid lightgray;
    border-radius: 4px;
    height: 30px;
    color: rgb(83, 96, 94);
    cursor: pointer;
    transition: .2s ease-in all
}

.see-btn:hover {
    color: white;
    background-color: #2DC44D;
}

.blog__right h2 {
    color: rgb(83, 96, 94);
    margin: 20px;
}

.title {
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(83, 96, 94);
}

.blog__right-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #D7DDDB;
    cursor: pointer;
    padding-left: 20px;
}

.blog__right-item:hover {
    background-color: #f3f5f4;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.desc img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4px;
    margin-right: 10px;
}

.blog__right-btn {
    background-color: transparent;
    border: 0.5px solid #D7DDDB;
    width: 80%;
    height: 40px;
    margin: 24px auto;
    color: rgb(83, 96, 94);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 34px;
    border-radius: 6px;
}

.blog__right-btn:hover {
    background-color: #f3f5f4;
}

@media (max-width: 1200px) {
    .blog {
        max-width: 942px;
        justify-content: center;
    }

    .blog__left {
        flex: 2.2;
        color: rgb(83, 96, 94);
    }

    .blog__right {
        margin-top: 6px;
        flex: 1;
        height: 680px;
        border: 1px solid #D7DDDB;
    }

}

@media (max-width: 1000px) {
    .blog {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        gap: 30px;
    }

    .blog__left {
        width: 100%;
    }

    .blog__right {
        width: 100%;
        height: 680px;
    }

    .blog__right-btn {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin: 20px auto;
        transition: .2s ease-in all;
    }

    .blog__right-btn:hover {
        background-color: #2DC44D;
        color: white;
    }
}

@media (max-width: 768px) {
    .blog {
        max-width: 520px;
    }

    .blog__left-top {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-direction: column;
    }

    .blog__left-top h1 {
        margin-top: -6px;
    }

    .see-btn {
        font-size: 13px;
        margin: auto auto;
        padding: 10px;
        height: 40px;
        width: 80%;
        transition: .2s ease-in all
    }
}

@media (max-width: 576px) {
    .blog {
        max-width: 100%;
        margin: 0 20px;
    }


}

@media (max-width: 320px) {}

.blog__right {
    width: 100%;
    height: 100%;
}